<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> No se puede guardar este proyecto:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Nombre_del_proyecto %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :Descripcion %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :Fecha_de_comienzo %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :Fecha_de_termino %>
    <%= form.date_select :due_date %>
  </div>

  <div class="field">
    <%= form.label :Estado %>
    <%= form.select :status, Project.statuses.keys %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
