<p id="notice"><%= notice %></p>

<h1>Gestor de Proyectos</h1>

div class="row">
    <div class="col-md-3 offset-md-2">
        <%= search_form_for @q do |f| %>
            <div class="form-group">
                <%= f.label :Busqueda_por_titulo_o_por_Autor %>
                <%= f.search_field :title_or_description_or_author_cont, class: "formcontrol", placeholder: "Buscar por titulo" %>
            </div>
            <%= link_to 'Volver a pagina principal', root_path %>
            <div class="form-group">
                <%= f.label :status_eq, "Estado Actual del Libro" %>
                <%= f.select :status_eq, options_for_select(Project.statuses ,
                @q.status_eq), {},{class: "form-control"} %>
            </div>

            <%= f.submit "Buscar", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>









<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Start date</th>
      <th>Due date</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= project.start_date %></td>
        <td><%= project.due_date %></td>
        <td><%= project.status %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
