<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="jumbotron">
            <h1 class="display-4">Dashboard de Proyectos</h1>
            <hr class="my-4">
            <p>Plataforma para creacion de proyectos</p>
            <%= link_to 'Entrar a Dashboard para crear Proyectos', projects_path %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 offset-md-2">
        <% @projects.each do |project| %>
            <div class="row">
                <div class="col-md-12"><h3><%= project.name%></h3></div>
                <div class="col-md-12 small">
                    <span><strong>Descripcion del proyecto:</strong> <span class="font-weight-light">
                        <%= project.description %></span></span> <br>
                    <span><strong>Fecha de Comienzo</strong> <span class="font-weight-light"><%=
                        project.start_date %></span></span> <br>
                    <span><strong>Fecha de Termino</strong> <span class="font-weight-light"><%=
                        project.due_date %></span></span> <br>
                    <span><strong>Estado</strong> <span class="font-weight-light"><%=
                    project.status %></span></span> <br>
                </div>
                <div class="col-md-12"><p><%= project.description%></p></div>
            </div>
        <% end %>
    </div>
</div>